<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Environment <%= appName %></p>
    <p>My middleware number: <%= number %></p>
    <p>json </p>
    <p>queryString </p>
    <p>Body-Parser </p>
    <p>Cookie-Parser </p>
    <p>espress-session </p>
    <p>csrf </p>
    <img src="img/a.jpg" />
  </body>
</html>
