<!DOCTYPE html>
<html>
  <head>
    <title>urlParams</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>URL</h1>
      <p>PARAMS</p>
      <form method='get'>
          username: <input type="text" name="username"/>
          password: <input type="text" name="password"/>
         <input type="submit" name="guardar"/>
      </form>
      <div>
          <h2>Query String</h2>
          <%= username%> - <%= password%> 
      </div>
      <div>
          <h2>Url Params</h2>
          <%= nombre%> - <%= apellido%> 
      </div>
      
      <div>
          <h2>Nombre completo</h2>
          <%= nombreCompleto%>
      </div>
      
  </body>
</html>
